@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: "Droid Serif", serif;
}


.top-section {
  background-color: #70ad55;
  color: #fff;
}

.under-text {
  font-size: .9rem;
  font-style: italic;
}

form {
  border-color: #70ad55;
}

textarea {
  height: 9em;
}

fieldset {
  border-color: #70ad55;
}

input {
  border-color: #6e8c62;
}

button {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

.footer-class {
  background-color: #70ad55;
}

footer {
  color: #fff;
}
